#My Jupyter Notebook on IBM Watson Studio

**Muhammad Muzamil**

My Current Occupation is Junior Data Scientist and Desired Occupation is Principle Data Scientist

*I am interested in data science because I know that Machines are getting smarter and it's completely revolutionalize the future with it's invention and I want to be a part of this amazing journey.*

### I am going to add two Numbers 1+1 and print it in this notebook

In [3]:
print("Add: ",1+1)

Add:  2

<marquee style='width: 30%; color: blue;'><b>I am HTML</b></marquee>


*   Rest Must
*   Go and Conquer



1.   Once Again
2.   Be Brave